<section class="padd-tb-60 bg-gray">
    <div class="container">
        <!-- <div class="heading text-center padd-b-30  wow fadeIn">
            <h2 class="heading"></h2>
        </div> -->
    
        <div class="row">					
            <div class="col-md-6 wow fadeInUp">	
                <h4>¿Qué ofrecemos?</h4>
                <p>
                    Una plataforma especializada y con respaldo profesional para que se produzcan encuentros e intercambios de experiencias entre emprendedores y líderes de pequeñas y medianas empresas. Un espacio cargado de sensibilidad y humanidad donde podrán encontrar herramientas que les permitirán, desde el espacio personal, identificar áreas de desarrollo para lograr un emprendimiento y un negocio exitoso.    
                </p>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <ul class="list-block">
                            <li><i class="icon-note"> </i> Entrega de experiencia (Know How)</li>
                            <li><i class="icon-note"> </i> Prácticas de gestión</li>
                            <li><i class="icon-note"> </i> Herramientas</li>
                            <li><i class="icon-note"> </i> Metodología</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <ul class="list-block">
                            <li><i class="icon-note"> </i> Encuentros de aprendizaje</li>
                            <li><i class="icon-note"> </i> Comunidad de líderes </li>
                            <li><i class="icon-note"> </i> Virtualidad</li>
                            <li><i class="icon-note"> </i> Acompañamiento</li>
                        </ul>
                    </div>
                </div><!-- ./row -->
            
            </div>
            
            <div class="col-md-6 wow fadeInUp img-1">	

                     <img [src]="imagewho"  alt="image" class="img-responsive">
            </div>
                                                        
        </div><!-- ./row -->
                            
    </div><!-- ./container -->
</section>
