<!-- wrapper -->
<div class="wrapper">
		
    <!-- Preloader -->
    <div id="preloader"> 
        <div id="status">&nbsp;</div>
    </div>
    <!-- //Preloader -->
    
    <!-- scrollToTop -->	
    <a href="#" class="scrollToTop">
        <i class="fa fa-angle-up fa-2x"></i>
    </a>
    <!-- ./scrollToTop -->

    <app-header></app-header>

    <!-- Banner  fullscreen-->
    <app-banner></app-banner>
    
    
    <!-- services -->	
    <section id="services" class="padd-tb-60">
        <div class="container">
        
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>Nuestros Servicios</strong></h2>
                <div class="separator center"></div>
                
            </div>
            <div class="row wow fadeInUp">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box4 padd-30 text-center">
                        <i class="icon icon-puzzle"></i>
                        <h4>Planning</h4>	
                        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet placerat a nibh Curabitur. </p>								
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box4 padd-30 text-center">
                        <i class="icon icon-mouse"></i>
                        <h4>Web Design</h4>	
                        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet placerat a nibh Curabitur. </p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box4 padd-30 text-center">
                        <i class="icon icon-plane"></i>
                        <h4>Deployment</h4>	
                        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet placerat a nibh Curabitur. </p>
                        
                    </div>
                </div>
        
            </div><!-- ./row -->
            <div class="row wow fadeInUp">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box4 padd-30 text-center">
                        <i class="icon icon-crop"></i>
                        <h4>Planning</h4>	
                        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet placerat a nibh Curabitur. </p>								
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box4 padd-30 text-center">
                        <i class="icon icon-eyeglasses"></i>
                        <h4>Web Design</h4>	
                        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet placerat a nibh Curabitur. </p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box4 padd-30 text-center">
                        <i class="icon icon-shield"></i>
                        <h4>Deployment</h4>	
                        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet placerat a nibh Curabitur. </p>
                        
                    </div>
                </div>
        
            </div><!-- ./row -->
            
    
        </div><!-- ./container -->
    </section>
    <!-- ./services -->
    
    
   <app-recent-work></app-recent-work>             
    
    
    
    <!-- team -->	
    <section id="team" class="bg-dark padd-tb-80 image-v1 bg-fixed">
        <div class="container">
        
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>OUR TEAM</strong></h2>
                <div class="separator center"></div>
                
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team1.jpg" class="img-responsive" alt="">
                        <div class="content">
                            John Doe
                            <span>CEO</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team2.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Mike Tan
                            <span>Marketing</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team3.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Rick Dunn
                            <span>Programmer</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team4.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Stephen King
                            <span>Designer</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
            </div><!-- ./row -->
            
            
            <div class="padd-t-60">
                <div class="row">
                    
                    <div class="col-md-3 col-sm-6">							
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-purple extra-large circle"><i class="icon-trophy"></i></div>
                            <h4>Projects</h4>
                            <span class="counter">1,567</span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">								
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-blue extra-large circle"><i class="icon-hourglass"></i></div>
                            <h4>Hour</h4>
                            <span class="counter">567</span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">							
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-orange extra-large circle"><i class="icon-support"></i></div>
                            <h4>Support</h4>
                            <span class="counter">667</span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">								
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-red extra-large circle"><i class="icon-cup"></i></div>
                            <h4>Coffee</h4>
                            <span class="counter">1,167</span>
                        </div>							
                    </div>
                    
                </div><!-- ./row -->
            </div>	
                
    
        </div><!-- ./container -->
    </section>
    <!-- ./team -->
    

    <!-- Pricing Tables -->
    <section id="pricing" class="padd-tb-60">
        <div class="container">
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>OUR PRICING</strong></h2>
                <div class="separator center"></div>
                
            </div>
                <div class="row wow fadeInUp">
                    <div class="col-md-4 col-sm-4">
                        <div class="pricing-tables style2">
                            <div class="title">
                                <h3>FREE</h3>
                            </div>
                            <div class="heading">
                                <div class="circle">
                                <span>$</span>0 <span>/m</span>
                                </div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>1 User</li>
                                    <li>Online Support</li>
                                    <li>SSL Certificate</li>
                                    <li>6 Email Address</li>
                                    <li>Database</li>
                                    <li>2 Gig Disk Space</li>
                                </ul>
                            </div>
                            <div class="footer">
                                <a class="btn btn-theme">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="pricing-tables  style2">
                            
                            <div class="title">
                                <h3>PREMIUM</h3>
                            </div>
                            <div class="heading">
                                <div class="circle highlights">
                                    <span>$</span>99 <span>/m</span>
                                </div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>6 User</li>
                                    <li> Online Support</li>
                                    <li>SSL Certificate</li>
                                    <li>Unlimited Email Address</li>
                                    <li>Database</li>
                                    <li>Unlimited Gig Disk Space</li>
                                </ul>
                            </div>
                            <div class="footer">
                                <a class="btn btn-theme">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="pricing-tables style2">
                            <div class="title">
                                <h3>PRO</h3>
                            </div>
                            <div class="heading">
                                <div class="circle">
                                    <span>$</span>199 <span>/m</span>
                                </div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>Unlimited User</li>
                                    <li>Unlimited Online Support</li>
                                    <li>SSL Certificate</li>
                                    <li>Unlimited Email Address</li>
                                    <li>Unlimited Database</li>
                                    <li>Unlimited Gig Disk Space</li>
                                </ul>
                            </div>
                            <div class="footer">
                                <a class="btn btn-theme">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
        
        </div><!-- ./container -->				
    </section>
    <!-- ./Pricing Tables -->
    
    
    <section id="contact" class="bg-dark padd-tb-60">
        <div class="container">
        
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>Contactanos</strong></h2>
                <div class="separator center"></div>						
            </div>
        
            <div class="row wow fadeInUp">
            <!--  Working Contact Form With Validation -->					
            
                <div class="col-md-8 col-md-offset-2">
                    <form  name="sentMessage" id="contactForm" novalidate>
                            
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control dark" id="name"  required data-validation-required-message="Please enter your name.">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Email</label>
                                    <input type="email" class="form-control dark" id="email"  required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Message</label>
                                <textarea class="form-control dark" rows="7" id="message"  required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div id="success"></div>
                        <div class="pull-right">
                        <button type="submit" class="btn btn-theme btn-lg">Submit</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            
            <!--  ./ Working Contact Form With Validation -->
            </div><!-- ./row -->
            
        </div>			
    </section>
    
    <app-footer></app-footer>

</div>
<!-- //wrapper -->
