<!-- wrapper -->
<div class="wrapper">
		
    <!-- Preloader -->
    <div id="preloader"> 
        <div id="status">&nbsp;</div>
    </div>
    <!-- //Preloader -->
    
    <!-- scrollToTop -->	
    <a href="#" class="scrollToTop">
        <i class="fa fa-angle-up fa-2x"></i>
    </a>
    <!-- ./scrollToTop -->

    <app-header></app-header>

    <!-- Banner  fullscreen-->
    <app-banner></app-banner>
    
    <section class="page-title bg-dark text-center padd-tb-60 " id="products">
        <div class="container">
            <div class="card wow fadeInUp">
                <h3 class="entry-title"> Talento Activo <br> </h3>
                <h3 class="entry-title">
                <a href="#products"> constituye una oferta para instituciones y empresas, públicas y privadas, <br> cuyo reto es alcanzar objetivos altamente productivos y sostenible
                     para potenciar sus organizaciones y hacerlas más efectivas.  </a>
              </h3>
            </div>
        </div>
    </section>
    
    
    <section class="bg-dark produc">
        <div class="container" >
        
            <!-- features style2 -->
            <div class="row ">
                <div class="col-md-4 col-sm-6 wow fadeInUp">
                    <div class="feature-box style2 ">
                        <i class="icon icon-puzzle circle"></i>
                        <h4>Marketing digital para PYMES</h4>	
                        <p class="text-left">●  Formación para consultores PYMES</p>
                        <p class="text-left">●  Apoyo para identificar competencias claves para el desarrollo de emprendimientos y PYMES</p>
                        <p class="text-left">●  Coaching para emprendedores, empresarios PYMES y sus equipos de trabajo</p>
                        <p class="text-left">●  Creación y desarrollo del área de comercialización y ventas en organizaciones PYMES</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp">
                    <div class="feature-box style2">
                        <i class="icon icon-mouse circle"></i>
                        <h4>Eventos virtuales dirigidos a comunidades PYMES </h4>	
                        <p class="text-left">● webinar, ruedas de negocio, entre otros. </p>
                        <p class="text-left">● Consultoría especializada en áreas de gestión empresarial. </p>
                        <p class="text-left">● Fortalecimiento en la gestión empresarial. </p>
                        <p class="text-left">● Emprender empresas con negocios formados.</p>
                        <p class="text-left">● Acompañamiento para el sostenimiento de emprendimientos.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp">
                    <div class="feature-box style2 text-left">
                        <i class="icon icon-plane circle"></i>
                        <h4>Desarrollo de liderazgo</h4>	
                        <p class="text-left">Sensibilización y entrega de distinciones en temas relacionados con:</p>
                        <p class="text-left">●  Integración de equipos.</p>
                        <p class="text-left">●  Negociación y manejo de conflictos.</p>
                        <p class="text-left">●  Administración del tiempo.</p>
                        <p class="text-left">●  Gestión de las emociones en el negocio.</p>
                        <p class="text-left">●  Conversaciones para una gestión efectiva.</p>
                        
                    </div>
                </div>	
            </div>
            <!-- ./features style2 -->	
            
                                
        </div><!-- ./container -->
    </section>
    
    
   <app-who-we-are></app-who-we-are>             
    
    
    
    <!-- team -->	
    <section id="team" class="bg-dark padd-tb-80 image-v1 bg-fixed">
        <div class="container">
        
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>OUR TEAM</strong></h2>
                <div class="separator center"></div>
                
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team1.jpg" class="img-responsive" alt="">
                        <div class="content">
                            John Doe
                            <span>CEO</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team2.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Mike Tan
                            <span>Marketing</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team3.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Rick Dunn
                            <span>Programmer</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team4.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Stephen King
                            <span>Designer</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
            </div><!-- ./row -->
            
            
            <div class="padd-t-60">
                <div class="row">
                    
                    <div class="col-md-3 col-sm-6">							
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-purple extra-large circle"><i class="icon-trophy"></i></div>
                            <h4>Projects</h4>
                            <span class="counter">
                                {{projects}}
                            </span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">								
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-blue extra-large circle"><i class="icon-hourglass"></i></div>
                            <h4>Hour</h4>
                            <span class="counter">
                                {{hours}}
                                
                            </span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">							
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-orange extra-large circle"><i class="icon-support"></i></div>
                            <h4>Support</h4>
                            <span class="counter">
                                {{support}}
                                
                            </span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">								
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-red extra-large circle"><i class="icon-cup"></i></div>
                            <h4>Coffee</h4>
                            <span class="counter">
                                {{coffe}}
                                
                            </span>
                        </div>							
                    </div>
                    
                </div><!-- ./row -->
            </div>	
                
    
        </div><!-- ./container -->
    </section>
    <!-- ./team -->
    

    <!-- Pricing Tables -->
    <section id="pricing" class="padd-tb-60">
        <div class="container">
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>OUR PRICING</strong></h2>
                <div class="separator center"></div>
                
            </div>
                <div class="row wow fadeInUp">
                    <div class="col-md-4 col-sm-4">
                        <div class="pricing-tables style2">
                            <div class="title">
                                <h3>FREE</h3>
                            </div>
                            <div class="heading">
                                <div class="circle">
                                <span>$</span>0 <span>/m</span>
                                </div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>1 User</li>
                                    <li>Online Support</li>
                                    <li>SSL Certificate</li>
                                    <li>6 Email Address</li>
                                    <li>Database</li>
                                    <li>2 Gig Disk Space</li>
                                </ul>
                            </div>
                            <div class="footer">
                                <a class="btn btn-theme">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="pricing-tables  style2">
                            
                            <div class="title">
                                <h3>PREMIUM</h3>
                            </div>
                            <div class="heading">
                                <div class="circle highlights">
                                    <span>$</span>99 <span>/m</span>
                                </div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>6 User</li>
                                    <li> Online Support</li>
                                    <li>SSL Certificate</li>
                                    <li>Unlimited Email Address</li>
                                    <li>Database</li>
                                    <li>Unlimited Gig Disk Space</li>
                                </ul>
                            </div>
                            <div class="footer">
                                <a class="btn btn-theme">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="pricing-tables style2">
                            <div class="title">
                                <h3>PRO</h3>
                            </div>
                            <div class="heading">
                                <div class="circle">
                                    <span>$</span>199 <span>/m</span>
                                </div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>Unlimited User</li>
                                    <li>Unlimited Online Support</li>
                                    <li>SSL Certificate</li>
                                    <li>Unlimited Email Address</li>
                                    <li>Unlimited Database</li>
                                    <li>Unlimited Gig Disk Space</li>
                                </ul>
                            </div>
                            <div class="footer">
                                <a class="btn btn-theme">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
        
        </div><!-- ./container -->				
    </section>
    <!-- ./Pricing Tables -->
    
    
    <section id="contact" class="bg-dark padd-tb-60">
        <div class="container">
        
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>Contactanos</strong></h2>
                <div class="separator center"></div>						
            </div>
        
            <div class="row wow fadeInUp">
            <!--  Working Contact Form With Validation -->					
            
                <div class="col-md-8 col-md-offset-2">
                    <form  name="sentMessage" id="contactForm" novalidate>
                            
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control dark" id="name"  required data-validation-required-message="Please enter your name.">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Email</label>
                                    <input type="email" class="form-control dark" id="email"  required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Message</label>
                                <textarea class="form-control dark" rows="7" id="message"  required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div id="success"></div>
                        <div class="pull-right">
                        <button type="submit" class="btn btn-theme btn-lg">Submit</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            
            <!--  ./ Working Contact Form With Validation -->
            </div><!-- ./row -->
            
        </div>			
    </section>
    
    <app-footer></app-footer>

</div>
<!-- //wrapper -->
