<main>
  <div class="contenedor">
		<div class="wrap">
			<div class="box">
				<span>Tu potencial, nuestro objetivo...</span>
				<h1>Desarrolla tus habilidades y alcanza tus metas</h1>
				<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Dolorem dolore ea aut fugit officiis nesciunt nulla, voluptate perferendis maiores!.</p>
				<div class="botones">
					<a href="#contact" class="btn1">Contactanos</a>
					<a href="#" class="btn1">Podcast</a>					
				</div>
			</div>
		</div>
	</div>
</main>
