<!-- filter Portfolio -->
<section id="portfolio-link" class="bg-gray padd-tb-60">
    
    <div class="heading text-center padd-b-10 wow fadeIn">
        <h2><strong>RECENT WORK</strong></h2>
        <div class="separator center"></div>
    </div>
    
    <div class="container wow fadeInUp">
    
        <div class="text-center padd-tb-30">
            <ul id="filter">
              <li class="current"><a href="#">All</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">CMS</a></li>
              <li><a href="#">Integration</a></li>
              <li><a href="#">Wordpress</a></li>
            </ul>
        </div>
        
        <div class="row">
            <ul id="portfolio">	
                    
                  <li class="cms integration">
                    <div class="col-sm-6 col-md-4">	
                        <div class="item-wrapper">										
                            <img src="assets/img/work1.jpg" alt="image" class="img-responsive" >										
                            <div class="overlay">
                                <div class="info">
                                    <h4>Save Money</h4>
                                    <p>Pellentesque posuere fermentum</p>
                                    <a href="#" class="icon-holder theme small circle"><i class="fa fa-link"></i></a>
                                    <a href="assets/img/work1.jpg" class="popup-link icon-holder theme small circle"><i class="fa fa-search"></i></a>
                                </div>
                            </div>										
                        </div>
                    </div> 
                  </li>
                                
                  <li class="integration design">
                    <div class="col-sm-6 col-md-4">	
                        <div class="item-wrapper">
                            <img src="assets/img/work2.jpg" alt="image" class="img-responsive" >										
                            <div class="overlay">
                                <h4>Close</h4>
                                <p>Pellentesque posuere fermentum</p>
                                <a href="#" class="icon-holder theme small circle"><i class="fa fa-link"></i></a>
                                <a href="assets/img/work2.jpg" class="popup-link icon-holder theme small circle"><i class="fa fa-search"></i></a>
                            </div>										
                        </div>
                    </div>  
                  </li>
                  
                   <li class="cms">
                    <div class="col-sm-6 col-md-4">	
                        <div class="item-wrapper">
                            <img src="assets/img/work3.jpg" alt="image" class="img-responsive" >
                            <div class="overlay">
                                <h4>Memior</h4>
                                <p>Pellentesque posuere fermentum</p>
                                <a href="#" class="icon-holder theme small circle"><i class="fa fa-link"></i></a>
                                <a href="assets/img/work3.jpg" class="popup-link icon-holder theme small circle"><i class="fa fa-search"></i></a>
                            </div>										
                        </div>
                    </div>  
                  </li>
                  
                   <li class="design development wordpress">
                    <div class="col-sm-6 col-md-4">		
                        <div class="item-wrapper">
                            <img src="assets/img/work4.jpg" alt="image" class="img-responsive" >
                            <div class="overlay">
                                <h4>Free Push</h4>
                                <p>Pellentesque posuere fermentum</p>
                                <a href="#" class="icon-holder theme small circle"><i class="fa fa-link"></i></a>
                                <a href="assets/img/work4.jpg" class="popup-link icon-holder theme small circle"><i class="fa fa-search"></i></a>
                            </div>										
                        </div>
                    </div>  
                  </li>
                  
                  <li class="integration design">
                    <div class="col-sm-6 col-md-4">	
                        <div class="item-wrapper">
                            <img src="assets/img/work5.jpg" alt="image" class="img-responsive" >
                            <div class="overlay">
                                <h4>The Martian</h4>
                                <p>Pellentesque posuere fermentum</p>
                                <a href="#" class="icon-holder theme small circle"><i class="fa fa-link"></i></a>
                                <a href="assets/img/work5.jpg" class="popup-link icon-holder theme small circle"><i class="fa fa-search"></i></a>
                            </div>										
                        </div>
                    </div>  
                  </li>
                  
                   <li class="cms wordpress development">
                    <div class="col-sm-6 col-md-4">	
                        <div class="item-wrapper">
                            <img src="assets/img/work6.jpg" alt="image" class="img-responsive" >
                            <div class="overlay">
                                <h4>LetsGo</h4>
                                <p>Pellentesque posuere fermentum</p>
                                <a href="#" class="icon-holder theme small circle"><i class="fa fa-link"></i></a>
                                <a href="assets/img/work6.jpg" class="popup-link icon-holder theme small circle"><i class="fa fa-search"></i></a>
                            </div>										
                        </div>
                    </div>  
                  </li>
        
            </ul>  
        </div>	
    
    </div><!-- ./container -->				

</section>
<!-- ./filter Portfolio -->
