<!-- footer -->
<footer class="footer bg-dark padd-tb-60">
	<div class="container">
		<div class="row">
			<div class="col-md-3 mvs-30 wow fadeIn">
				<div class="padd-b-20">
					<a href="#"><img src="assets/img/logo-white.png" alt="footer logo"></a>
				</div>
				<p>Clarity Theme posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet, placerat a nibh. Curabitur tincidunt vulputate augue, non rhoncus nibh mollis et.</p>
				<p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet, placerat a nibh.</p>
				<a href="#" class="btn-more">Read More</a>
			</div>
			<div class="col-md-3 mvs-30 wow fadeIn" data-wow-delay=".3s">
				<!-- sitemap -->
				<h4>Sitemap</h4>
				<div class="separator"></div>
				<ul class="list-block">
					<li><i class="fa fa-angle-right"></i><a href="#">Home</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#">Works</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#">About</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#">Contact</a></li>
				</ul>
				<!-- ./sitemap -->
				<!-- subscribe -->
				<h4>Subscribe</h4>
				<div class="separator"></div>
				We Don't  Spam
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email...">
					<span class="input-group-btn">
						<button class="btn btn-theme" type="button"><i class="fa fa-check"></i></button>
					</span>
				</div>	
				<!-- ./subscribe -->
			</div>
			<div class="col-md-3 mvs-30 wow fadeIn" data-wow-delay=".6s">
				<!-- footer-blog-list -->
				<h4>Latest Blog</h4>
				<div class="separator"></div>
				<ul class="list-block">
					<li>
						<a href="#">Blog post for the monthe of August </a> <br>
						<i class="icon icon-calendar"></i> <span class="small">August 22, 2015</span> 
					</li>
					<li>
						<a href="#">Blog post for the monthe of July  </a> <br>
						<i class="icon icon-calendar"></i> <span class="small">July 18, 2015</span> 
					</li>
					<li>
						<a href="#">Blog post for the monthe of June </a> <br>
						<i class="icon icon-calendar"></i> <span class="small">June 9, 2015</span> 
					</li>
					<li>
						<a href="#">Blog post for the monthe of May  </a> <br>
						<i class="icon icon-calendar"></i> <span class="small">May 1, 2015</span> 
					</li>
				</ul>
				<a href="#" class="btn-more">View More</a>
				<!-- ./footer-blog-list-->	
			</div>
			<div class="col-md-3 mvs-30 wow fadeIn" data-wow-delay=".9s">
				<!-- gallery -->
				<h4>Gallery</h4>
				<div class="separator"></div>
				<div class="row padd-10">
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work1.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-plus small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work2.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-plus small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work3.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work4.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work5.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work6.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work7.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work1.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
					<div class="col-xs-4 col-md-4 padd-5">
						<div class="gallery-box">
							<img class="img-responsive" src="assets/img/work2.jpg" alt="">
							<div class="gallery-hover">
								<a href="#"><i class="fa fa-search small"></i></a>
							</div>
						</div>	
					</div>
				
				</div><!-- ./row-->
				<!-- ./gallery -->	
				<a href="#" class="btn-more">View More</a>	
			</div>
			
		</div><!-- ./row -->
							
	</div><!-- ./container -->
</footer>
<!-- ./footer -->

<!-- footer-sub -->
<div class="footer-sub bg-light-dark padd-tb-10">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="copyright">
					2024 &copy; All Rights Reserved. Theme by  <a href="http://www.bootstrapwizard.info">Bootstrapwizard</a>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="list-inline pull-right">
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
			</div>	
		</div><!-- ./row -->
	</div><!-- ./container -->
</div>
<!-- ./footer-sub -->
